.editItem-modal {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editItem-modal h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.editItem-form {
  margin-top: 20px;
}

.editItem-form form button{
  margin: .5em auto;
}


.seksjon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.editItem-form label {
  margin-bottom: 10px;
  font-weight: bold;
  width: 100px;
}

.editItem-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 4px;
  margin-left: 1rem;
}

.editItem-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 4px;
  margin-left: 1rem;
  height: 35px;
}

.editItem-form select {
  text-align: left;
  padding-top: 4px;
}

#measurements {
  min-width: 5em;
}

.mengde-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.mengde-div > label:nth-child(3) {
  margin-right: -3rem;
  margin-left: 1rem;
}

.mengde-div > label:nth-child(1) {
  margin-right: -2.5rem;
}

.mengde-div > input {
  width: 2.5rem;
}

.mengde-div > select {
  max-width: 4rem;
}

.editItem-form input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: var(--baby_waluigi);
  color: var(--black);
  cursor: pointer;
    width:119px;
  height:30px;
  border: solid var(--black) 1px;
}

.editItem-form input[type="submit"]:hover {
  background: var(--blue);
}

.avbryt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  width: 4rem;
  height: 2rem;
  color: var(--black);
  border: solid var(--peach) 1px;
  width:119px;
  height:30px;
}
