.all_notifications > h1 {
    text-align: center;
    margin: 0 auto;
}


.notification-bar{
max-width: 90%;
/* text-align: center; */
margin: 1rem;
}

.notification-bar__buttons {
    display: flex;
    width: 100%;
}

.edit_button--notification, .delete_button--notification {
    padding: 10px 16px;
}

.edit_button--notification{
    background-color: var(--baby_waluigi);
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
}

.delete_button--notification{
    background-color: var(--peach);
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    flex: 1;
}