.all_notifications > h1 {
    text-align: center;
    margin: 0 auto;
}


.notification-bar{
max-width: 90%;
text-align: center;
margin: 1rem;
}

.edit_button--notification{
    background-color: var(--baby_waluigi);
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 1rem;
}

.delete_button--notification{
    background-color: var(--peach);
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid black;
}