.button {
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content:center;
    border: none;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--white);
    border: solid var(--black) 1px;
    height: 30px;
    margin-top: .5em;
    margin-bottom: .5em;
    cursor:pointer;
}

.button img {
    vertical-align: -5px;
}

.primary-one {
    background-color: var(--baby_waluigi);
}

.primary-two {
    background-color: var(--peach);
}

.primary-three {
    background-color: var(--baby_luigi);
}

.secondary-one {
    border: solid var(--waluigi) 1px;
}

.secondary-two {
    border: solid var(--tanooki_mario) 1px;
}

.secondary-three {
    border: solid var(--petey_pirahna) 1px;
}