.inventoryCard__container {
    text-align: "left";
    margin: 10px 0 10px 10px;
    border: 2px solid var(--black);
    border-radius: 6px;
    height: min-content;
    width: calc(40%);
    max-width: 45%;
    /* flex: 1; */
    flex: 1 1 auto;
    /* background-color: white; */
}

.inventoryCard__stroke--horizontal {
    background-color: var(--black);
    outline-style: solid;
    outline-color: var(--black);
    outline-width: .25px;
    /* outline-offset: -1px; */
    border-radius: 4px;
}

.inventoryCard__icon {
    min-width: 56px;
    /* padding: 3px 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--baby_waluigi);
}

.inventoryCard__titleBox {
    border-left: 2px solid var(--black);
    display: flex;
    justify-content: space-between;
    width: 86%;
    height: 75px;
}

.inventoryCard__titleBox p {
    margin: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.inventoryCard__numberBox {
    background-color: var(--baby_peach);
    padding: 5px 10px;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-radius: 4px;
    width: "max-content";
    height: min-content;
}

.inventoryCard__numberBox p { 
    padding: 0;
    margin: 0;
}

.inventoryCard__firstPartContainer {
    display: flex;
}

.inventoryCard__firstPartContainer img {
    padding: 10px;
}

.inventoryCard__details {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventoryCard__details--icons svg {
    margin: 0 5px;
}

.inventoryCard__details--arrow button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Inventory dialog */
.inventoryDialog {
    border: 2px solid var(--black);
    border-radius: 6px;
    width: 289px;
    /* flex: 1; */
    flex: 1 1 auto;
    background-color: var(--white);
    z-index: 4;
}

.inventoryDialog__icon {
    min-width: 129px;
    min-height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--baby_waluigi);
}

.inventoryDialog__titleBox {
    border-left: 2px solid var(--black);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.inventoryDialog__titleBox p {
    padding-top: 10px;
}

.inventoryDialog__firstPartContainer {
    display: flex;
}

.inventoryDialog__firstPartContainer button {
    height: min-content;
}

.inventoryDialog__titleBox button {
    border: none;
}

.inventoryDialog__details {
    padding: 0 16px;
}

.inventoryDialog__details > div {
    margin: 16px 0;
}

.inventoryDialog__details--bestFør {
    display: flex;
    gap: 10px;
    align-items: center;
}

.inventoryDialog__details--bestFør p {
    margin: 4px 0;
}

.inventoryDialog__details--allergener p {
    margin: 4px 0;
}

.inventoryDialog__scannedAndModify {
    margin: 16px;
    align-items: center;
    padding-top: 16px;
}

 .inventoryDialog__modify {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

/*

.inventoryDialog__modify button {
    padding: 5px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
}

.inventoryDialog__modify button.edit {
    background-color: var(--baby_waluigi);
    border: 2px solid var(--black);
}

.inventoryDialog__modify button.delete {
    background-color: var(--white);
    border: 2px solid #A54E1E;
}

.inventoryDialog__modify button p {
    padding: 1px;
} */

.inventoryDialog__scanned {
    font-size: 12px;
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.matvett-link {
    display: flex;
    gap: 8px;
    color: var(--black);
}

/* Sticker */
.newSticker {
    position: absolute;
    z-index: 1;
}

.newSticker__big {
    transform: scale(1.4063);
    transform-origin: top left;
    z-index: 5;
}

.blur-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: inherit;
    background-color: black;
    opacity: .3;
    top: 0;
    left: 0;
    z-index: 3;
}

.editDialog{
    position:absolute;
    top:305px;
    z-index: 6;
}

