.inventoryCard__container {
    text-align: "left";
    margin: 10px 0 10px 10px;
    border: 2px solid var(--black);
    border-radius: 6px;
    height: min-content;
    width: calc(40%);
    max-width: 45%;
    /* flex: 1; */
    flex: 1 1 auto;
}

.inventoryCard__stroke--horizontal {
    background-color: var(--black);
    outline-style: solid;
    outline-color: var(--black);
    outline-width: .25px;
    /* outline-offset: -1px; */
    border-radius: 4px;
}

.inventoryCard__icon {
    width: 65px;
    /* padding: 3px 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--baby_waluigi);
}

.inventoryCard__titleBox {
    border-left: 2px solid var(--black);
    display: flex;
    justify-content: space-between;
    width: 86%;
    height: 75px;
}

.inventoryCard__titleBox p {
    margin: 10px;
    margin-right: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.inventoryCard__numberBox {
    background-color: var(--baby_peach);
    padding: 5px 10px;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    border-radius: 4px;
    width: "max-content";
    height: min-content;
}

.inventoryCard__numberBox p { 
    padding: 0;
    margin: 0;
}

.inventoryCard__firstPartContainer {
    display: flex;
}

.inventoryCard__firstPartContainer img {
    padding: 10px;
}

.inventoryCard__details {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inventoryCard__details--icons svg {
    margin: 0 5px;
}

.inventoryCard__details--arrow button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Inventory dialog */
.inventoryDialog {
    margin: 20px;
    border: 2px solid var(--black);
    border-radius: 6px;
    width: 70vw;
    /* flex: 1; */
    flex: 1 1 auto;
    background-color: var(--white);
}

.inventoryDialog__icon {
    min-width: 100px;
}

.inventoryDialog__titleBox {
    border-left: 2px solid var(--black);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.inventoryDialog__titleBox p {
    padding-top: 10px;
}

.inventoryDialog__firstPartContainer {
    display: flex;
}

.inventoryDialog__firstPartContainer button {
    height: min-content;
}

.inventoryDialog__titleBox button {
    border: none;
}

.inventoryDialog__details {
    padding: 10px;
}

.inventoryDialog__details div {
    margin: 5px 2px;
}

.inventoryDialog__details--bestFør {
    display: flex;
    justify-content: space-between;
}

.inventoryDialog__details--bestFør div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.inventoryDialog__scannedAndDelete {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.inventoryDialog__scannedAndDelete button {
    padding: 10px 20px;
    border: 2px solid var(--black);
    border-radius: 6px;
    background-color: var(--peach);
}

.inventoryDialog__scannedAndDelete--scanned {
    font-size: 12px;
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.newSticker {
    position: absolute;
}