.filter-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    margin: 0 10px;
    padding-bottom: 5px;
}

.filter-container::-webkit-scrollbar{
    width: 2.5px; /* Set the width of the scrollbar */
    position: absolute;
    right: 0; /* Position the scrollbar on the right of the element*/
    height: 5px;
    margin: 10px;
    border-radius: 5px;
}

.filter-container::-webkit-scrollbar-thumb {
    /* background-color: #59704B; */
    background-color: #4A5085;
 }
 ::-webkit-scrollbar-track {
    background: var(--light_grey);
    border-radius: 5px;
 }

.filterButton{
    background-color: var(--baby_waluigi);
    color: var(--black);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 1px solid var(--black);
    border-radius: 5px;
    gap: 10px;
}

.filterButton.active {
    background-color: var(--black);
    color: var(--white);
}

.filterIcon {
    font-size: 12px;
}

.filterText {
    font-size: 12px;
    white-space: nowrap;
}
